body{
	background-color:#f5f6f7;
	margin: 10px;
  font: 84% Arial, sans-serif
}

button {
	width: 125px;
	height:30px;
	/*留白：上下 左右*/
	margin: 5px 10px;
	/*webkit-gradient：渐变（线性，左 上，右 下，from color1，to color2）*/
	background:-webkit-gradient(linear,0 0,0 bottom,from(white),to(rgba(243,243,243,1)));
	border: 1px solid #998;
	border-radius: 3.5px;
	box-shadow: 0 1px 1px #CCC;
	-webkit-transition: all .05s;
}

button:hover {
  background-image: -webkit-linear-gradient(bottom, #0975C8, #72b0d7);
  border: 1px solid #065EA1;
  border-radius: 3.5px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, 0 1px 1px #CCC;
  text-shadow: rgba(0,0,0,0.5) -1px -1px 0px;
  color: #fff;
}

button:active {
	box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.25) , 0 1px 2px 0px rgba(0, 0, 0, 0.05)
}

.red {
	color: red;
}

h1 { font-size: 156% }

h1 img {
  margin: 1px 5px 0 1px;
  vertical-align: middle
}

h2 {
  border-top: 1px solid #9cc2ef;
  background-color: #ebeff9;
  padding: 3px 5px;
  font-size: 100%
}

input{
	width:20px;
}

.optionButton{width:70px;}

img .notif{
	width:64px;
}